# Ambiente virtual
venv/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Arquivos de distribuição
dist/
build/
*.egg-info/
*.zip

# Arquivos de ambiente
.env

# Arquivos temporários
*.tmp
*.temp

# Arquivos de mídia (para não sobrecarregar o repositório)
*.mp4
*.avi
*.mkv
*.png
*.jpg
*.jpeg

# Arquivos grandes
ffmpeg.zip

# Opcional: descomentar se não quiser incluir a pasta ffmpeg no repositório
# ffmpeg/

# Logs
*.log

# Arquivos específicos do sistema
.DS_Store
Thumbs.db
